<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Delete user</a></li>
    </ul>
    <div class="form" style="width:500px; margin: 20px auto;">
        <form action="/delete" method="POST">
            <fieldset style="padding-left:20px">
                <legend>Edit users</legend><br/><br/>
                <div class="input-group" style="display: none;">
                    <label>Id: </label>
                    <input type="text" name="userId" value="<%= userId.id %>"/>
                </div>
                <div class="form">
                    <div class="input-group">
                        <label>Are you sure delete this user with email: </label>
                        <input type="text" name="email" value="<%= userId.email %>"/>
                    </div>
                </div><br><br>
                <div class="form">
                    <button>Confirm</button>
                </div><br/><br/>
            </fieldset>
        </form>
    </div>
</body>

</html>